<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <title>Node SMS Texting</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to Nodejs</h1>
        <h2>Send SMS Message</h2>
        <h5>This app is in nodejs and for frontend we are going to use ejs</h5>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>

</html>